div{
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 350px;
  border-radius: 15px;
  border: 4px dotted black;
}

.selector_container {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding : 10px;
}

.selector{
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
}