.nav {
  background-color: royalblue;
  padding: 20px 50px;
}

.nav .title {
  color: whitesmoke;
  font-weight: regular;
}

.nav .list_nav{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.nav a{
  color: white;
  text-decoration: none;
}